process.container = 'channingzen/mamba1'
//process.container = 'nextflow/rnaseq-nf'
//process.container = 'mambaorg/micromamba'
docker.runOptions='-u $(id -u):$(id -g)'

docker.enabled = true


mail {
  from = 'zqlaiyy@163.com'
  smtp.host = 'smtp.163.com'
  smtp.port = 25
  smtp.user = 'zqlaiyy'
  smtp.password = "XXXXXXX"
  smtp.auth = true
  smtp.starttls.enable = true
  smtp.starttls.required = true
}



profiles {

    standard {
        params.genome = '$baseDir/data/ggdal/*_{1,2}.fq'
        params.outdir = '$baseDir/results'
        process.executor = 'local'
    }

    cluster {
        params.genome = '$baseDir/data/ggdal/*_{1,2}.fq'
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
        process.conda = '$baseDir/env.yml'
    }

    cloud {
        params.genome = 's3://zenofbucket/nf-testing/*_{1,2}.fq'
        params.transcriptome_file = 's3://zenofbucket/nf-testing/transcriptome.fa'
        process.container = 'channingzen/mamba1'
        docker.enabled = true
	process.executor = 'awsbatch'
	queue = 'queue_test_light'
//	imageId = 'ami-04b3877ebd425f0f1'	
    }

}


aws {
    // Run in the correct AWS region
    aws.region = 'eu-west-2'
    //aws.client.storageEncryption = 'none'
    //executor.name = 'awsbatch'
    //executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    //    volumes = ['/var/lib/docker:/tmp:rw']
    }
//    client {
//        maxConnections = 4
//   }
}
